# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.d

# Coverage data
*.gcno
*.gcda
*.gcov

# Project specific files
unittests
tags
xedit
xpick
DELETEME
tests/libedit
tests/term
term
xcpd
tests/tide
tide
pick
tests/pick
hl-cpp
pty
tfetch
tserve
